@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Concert One", sans-serif;
}
html {
  font-size: 10px;
}
:root {
  --background: #2541b2;
  --primary-text: #000;
  --secondary-text: #2541b2;
  --quiz-bubble: #f18f01;
  --quiz-container: #f4f4f9;
  --generalKnowledge-color: #007eff;
  --geography-color: #ffa701;
  --art-color: #9b00ff;
  --sports-color: #27d82f;
  --music-color: #ff1600;
  --history-color: #fd02ff;
  --animals-color: #ffe700;
  --science-color: #3cb5c2;
}
body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  margin-top: 3rem;
}
h1 {
  color: var(--quiz-bubble);
  font-size: 10rem;
  letter-spacing: 3px;
  rotate: -10deg;
  margin-bottom: 3rem;
  text-shadow: 0 5px white, 0 10px var(--quiz-bubble);
}
.quiz-container {
  display: flex;
  justify-content: center;
}
.quiz-container__gameboard__categories-h2 {
  text-align: center;
  font-size: 4rem;
}
.quiz-container__life {
  margin-top: -40px;
  position: absolute;
  right: 0;
}
.quiz-container__gameboard__cat {
  margin-top: -60px;
}
.cat-image {
  transition: all 0.2s linear;
  position: absolute;
}
.quiz-container__gameboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--quiz-container);
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
  height: 750px;
  width: 600px;
  position: relative;
  margin-bottom: 30px;
}
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s;
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
}
.quiz-container__gameboard__categories,
.quiz-container__gameboard__questions {
  backface-visibility: hidden;
  position: absolute;
}
.quiz-container__gameboard__categories {
  text-align: center;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.quiz-container__gameboard__questions {
  transform: rotateY(180deg);
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.question {
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
  width: 90%;
}
.answer {
  background-color: var(--quiz-bubble);
  width: 90%;
  height: 90px;
  text-align: center;
  padding: 1rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: black;
}
.flipped {
  transform: rotateY(180deg);
}
.quiz-container__gameboard__points {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.quiz-container__gameboard__question-img-1 {
  width: 50%;
}
.quiz-container__gameboard__points {
  padding: 0 0.5rem;
}
.quiz-container__gameboard__points__score,
.quiz-container__gameboard__points__high-score {
  font-size: 3rem;
}
.quiz-container__gameboard__timer {
  width: 100%;
  height: 1rem;
  margin-top: 5rem;
  color: #0ea5e9;
  background-color: gray;
  border-radius: 50px;
}
#timer {
  height: 100%;
  border-radius: inherit;
  transition: all 1s linear;
}

/* Färger */
.generalKnowledge {
  background-color: #007eff;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: #04386b;
}
.geography {
  background-color: #ffa701;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: #926003;
}
.art {
  background-color: #9b00ff;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: #38035b;
}
.sports {
  background-color: #27d82f;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: #17781c;
}
.music {
  background-color: #ff1600;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: #770d03;
}
.history {
  background-color: #fd02ff;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: #8b048b;
}
.animals {
  background-color: #ffe700;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: #c2b00d;
}
.science {
  background-color: #3cb5c2;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: #116d77;
}
.bubble {
  border-radius: 15px;
  margin: 5px;
  height: 120px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}
.bubble:active {
  scale: 0.95;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.bubble__img {
  object-fit: contain;
  width: 15%;
}
/* TABLET */
@media (min-width: 750px) {
  .quiz-container__life {
    margin-top: -60px;
    position: absolute;
    right: 0;
  }
  .quiz-container__life img {
    width: 50px;
  }
  .quiz-container__gameboard__categories {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bubble {
    height: 250px;
  }
  .bubble__img {
    width: 50%;
  }
  .quiz-container__gameboard__questions {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-around; */
  }
  .question {
    font-size: 2rem;
  }
  .answer {
    width: 280px;
    height: 240px;
  }
}
/* DESKTOP */
