@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", sans-serif;
  /* border: solid 1px; */
}

html {
  font-size: 10px;
}

:root {
  --background: #586f7c;
  --primary-text: #000;
  --secondary-text: #2f4550;
  --quiz-bubble: #b8dbd9;
  --quiz-container: #f4f4f9;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  margin-top: 3rem;
}

h1 {
  color: var(--quiz-bubble);
  font-size: 5rem;
  letter-spacing: 3px;
  rotate: -20deg;
  margin-bottom: 3rem;
}

.quiz-container {
  /* border: solid; */
  display: flex;
  justify-content: center;
}

.quiz-container__gameboard {
  background-color: var(--quiz-container);
  height: 500px;
  width: 380px;
  border-radius: 1.5rem;
}
.quiz-container__gameboard__categories-h2 {
  text-align: center;
  font-size: 2rem;
}
.quiz-container__life {
  margin: 0 2rem;
}
.quiz-container__gameboard__questions {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background);
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
}
.quiz-container__gameboard__points {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.quiz-container__gameboard__question-img-1 {
  width: 50%;
}
.quiz-container__gameboard__points {
  padding: 0 0.5rem;
}
.quiz-container__gameboard__points__score,
.quiz-container__gameboard__points__high-score {
  font-size: 1.1rem;
}
